<h3 class="mb-3">Produtos</h3>

<div class="d-flex justify-content-between mb-3">

    <form method="GET" action="" class="d-flex gap-2">
        <select name="categoria" class="form-select" onchange="this.form.submit()">
            <option value="">Todas as categorias</option>

            {{#each categorias}}
            <option value="{{id}}" {{#if (eq ../categoriaSelecionada id)}}selected{{/if}}>
                {{nome}}
            </option>
            {{/each}}
        </select>

        <input type="hidden" name="ordem" value="{{ordemSelecionada}}">
    </form>



    <div>
        Ordenar por:
        <a href="/?ordem=asc&categoria={{categoriaSelecionada}}">
            Menor preço
        </a> |
        <a href="/?ordem=desc&categoria={{categoriaSelecionada}}">
            Maior preço
        </a>
    </div>
</div>

<div class="row">
    {{#each produtos}}
    {{> product-card }}
    {{/each}}

    {{#unless produtos.length}}
    <p>Nenhum produto encontrado.</p>
    {{/unless}}
</div>